<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>this is our official website</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, dignissimos eligendi. Deleniti delectus recusandae aliquid tempore quis magnam ab voluptates libero rerum, vitae est veniam quaerat praesentium velit provident accusamus maiores fugit aliquam blanditiis error harum voluptatem aut. Deserunt voluptates quos placeat quo sint accusamus eum eos dolor, maxime eligendi.</p>
        <button>Contact us</button>
    </div>
</body>
</html>